#background{
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

#background video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after{
    content: '';

    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10,12,16,0.99) 15%,rgba(10,12,16,0.7)50%, rgba(10,12,16,0.99)85%);
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

header{
    display:flex;
    align-items: center;
    column-gap: 64px;

    width: 100%;
    max-width: 1440px;
    padding-top: 24px;

}

header img{
    width: 70px;
    height: auto;
}

.navigation{
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
}

.navigation__link{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.navigation__social{
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.navigation__social svg{
    width: 20px;
    height: 20px;
    opacity: 0.6;
}

.navigation__social svg:hover{
    opacity: 1;
    transform: translateY(-5px);
}

main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

.maininfo{
    width: 100%;
    max-width: 700px;
    color: white;
}

.maininfo p{
    font-size: 30px;
    margin: 20px 0 28px;
   
}

.maininfo div{
    display: flex;
    column-gap: 32px;
}

.maininfo div a, .maininfo div button{
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none;
    color: white

}

.maininfo div a{
    background-color: red;
}

.maininfo div button{
    background-color: red;
}
#Cinemas h2 {
    text-align: center; 
    margin: 70px auto; 
    font-size: 50px; 
    color: red
}

.cinema1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
}

.cinema1 img {
    width: 170px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    
}

.cinema-informacoes {
    flex: 1;
    margin-top: -20px;
}

.cinema-informacoes h4 {
    font-size: 24px; 
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}






